/* A Note to Anyone Reading This
Yes, I am aware this CSS is a mess right now. I started with a template
then made modifications as I went. I think I'm satisfied enough with the overall
style now, but the CSS and class name conventions are in major need of a re-factor.

My plan is:
1) Migrate to using Sass - being able to use Sass conventions is so much nicer
2) Make a file for each page template type
3) Adopt more of a design token system for things like sizes
4) Add a dark mode
*/

/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
/* p, */
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
footer {
  padding: 1rem;
  border-top: 1px dashed var(--lightgray);
}
footer:before {
  content: "";
  display: table;
  clear: both;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

.pronouns {
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}

.pronouns:hover {
  background-image: url("/img/spectrum.svg");
}

.pronouns:hover:before {
  position: relative;
  display: block;
  top: 1em;
  height: 0px;
  content: "🏳️‍🌈🏳️‍🌈🏳️‍🌈";
}

.navbar {
  display: flex;
  flex-direction: row;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  color: var(--blue);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.main-posts {
  margin: 16px 0px;
}

.welcome-emoji:hover {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.main-intro {
  display: flex;
  flex-direction: row;
}

.profile-image {
  width: 300px;
  height: 300px;
  margin-right: 24px;
  border-radius: 50%;
}

.navbar-section {
  display: flex;
  flex-direction: row;
}

.main-divider {
  visibility: hidden;
  margin: 16px 0px;
}

body {
  display: grid;
  grid-template-columns:
    1fr
    min(80ch, 100%)
    1fr;
}

body > * {
  grid-column: 2;
}

.chirs-progress {
  padding: 2px;
  width: 100%;
  max-width: 500px;
  border: 3px solid black;
}

.chirs-progress-bar {
  height: 100%;
  background: linear-gradient(to right, lightgreen 50%, transparent 0);
  background-size: 200% 100%;
  background-position: right;
  /* background-color: lightgreen; */
  display: block;
  text-align: right;
  animation: fadeIn ease-in 3s forwards;
  border-right: black;
}

@keyframes fadeIn {
  100% {
    background-position: left;
  }
}

@media only screen and (max-width: 600px) {
  .main-intro {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin-right: 0px;
    margin-bottom: 16px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .pronouns:after {
    content: none;
    text-decoration: none;
  }

  .main-divider {
    visibility: visible;
    max-width: 37.5em;
    text-align: center;
    margin: 16px 0px;
  }
}

/* Borrowed with love from https://jarv.is/notes/css-waving-hand-emoji/ */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
