---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Hi, I'm Garrett <span class="welcome-emoji">👋</span></h1>
<article class="main-intro">
{% image
  "./dist/img/Profile Pic - Low Res.jpg",
  "A photo of Garrett, a white man in his mid-20s. He has curly brown hair, glasses, and no beard. He is wearing a brightly colored plaid shirt standing in front of a brick wall",
  "width: 200px"
%}

<section>
  <p>I'm a software engineer at LinkedIn. I live in Sunnyvale, CA and am from Northampton, a small city in Western Massachusetts.</p>
  <p>Prior to LinkedIn, I learned how to code at Hack Reactor, studied Political Science at Williams College + The University of Oxford, and had a wonderful few years living in Vermont doing work in education + green energy.</p>
  <p>You can also find me on
    <a href="{{ 'http://www.twitter.com/garrettwelson'}}">Twitter</a>,
    <a href="{{ 'http://www.github.com/garrettwelson'}}">GitHub</a>, or
    <a href="{{ 'http://www.linkedin.com/in/garrettwelson'}}">LinkedIn</a>.
  </p>
</section>
</article>


<section class="main-posts">
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</section>
