---
import BaseLayout from "../layouts/BaseLayout.astro";
import QuickDetails from "../components/QuickDetails.astro";
import { Content as ProfessionalBio } from "../content/text/professional.md";
import { Content as PersonalBio } from "../content/text/personal.md";
import linkedin from "../media/logos/linkedin.svg";
---

<BaseLayout pageTitle="about">
  <h2 class="text-2xl font-bold mb-6">about me</h2>
  <section class="mb-4">
    <h3 class="text-xl mb-4">quick details</h3>
    <div>
      <QuickDetails />
    </div>
    <h3 class="text-xl my-4">resume + contact</h3>
    <div>
      <div>
        <h4 class="mb-2">linkedin</h4>
        <p>
          Check out my LinkedIn profile by <a
            class="font-medium underline"
            href="https://www.linkedin.com/in/garrettwelson">clicking here</a
          >
        </p>
        <p class="mt-2">
          See my other social media links below in the site's footer
        </p>
      </div>
      <div class="my-4">
        <h4 class="mb-2">email</h4>
        <p>Feel free to shoot me an email at the address below:</p>
        <div class="my-2">
          <code> [my first name] @ [this domain name]</code>
        </div>
      </div>
      <div class="my-4">
        <h4 class="mb-2">resume</h4>
        <p class="italic">resume download link coming soon</p>
      </div>
    </div>
    <h3 class="text-xl my-4">professional</h3>
    <div class="prose">
      <ProfessionalBio />
    </div>
    <h3 class="text-xl my-4">personal</h3>
    <div class="prose">
      <PersonalBio />
    </div>
  </section>
</BaseLayout>
