---
import BaseLayout from "../layouts/BaseLayout.astro";
import YearSection from "../components/YearSection.astro";
import { getCollection } from "astro:content";
import { sortPostsByDate } from "../utils/posts-by-date";
const blogEntries = await getCollection("blog");
const sortedEntries = sortPostsByDate(blogEntries);
const years = Object.keys(sortedEntries).sort().reverse();
---

<BaseLayout pageTitle="blog">
  <h2 class="text-2xl font-bold mb-6">blog archive</h2>
  <section class="mb-4">
    {
      years.map((year) => {
        return <YearSection year={year} months={sortedEntries[year]} />;
      })
    }
  </section>
</BaseLayout>
