---
import BaseLayout from "../layouts/BaseLayout.astro";
import data from "../data/site.json";
import { Image } from "astro:assets";
import portrait from "../assets/images/garrett.jpg";
const altText = `A memoji image of ${data.firstName}`;
import Highlights from "../components/Highlights.svelte";
import Spotlight from "../components/Spotlight.astro";
---

<BaseLayout pageTitle="home">
  <section class="flex flex-col md:flex-row items-center">
    <Image class="h-64 w-64" src={portrait} alt={altText} />
    <div class="flex flex-col items-center md:items-start">
      <p class="font-bold text-2xl mb-4">
        Hey there! I'm {data.firstName} 👋
      </p>
      <p class="text-lg my-4">
        I'm a senior software engineer at LinkedIn, where I work on web/UI
        features and accessibility.
      </p>
      <p class="text-lg my-4">
        I live in the SF Bay Area with my partner Becca and our two cats, Nori
        and Kimchi
      </p>
    </div>
  </section>
  <aside>
    <Spotlight />
    <Highlights client:load />
  </aside>
</BaseLayout>
