---
const { title, description, url, customClass, background } = Astro.props;
const Wrapper = url ? "a" : "div";
---

<Wrapper
  class:list={[
    "w-full md:w-40 m-4 p-2 md:h-40 outline-1 outline-dashed",
    customClass,
    background,
  ]}
  href={url || ""}
>
  <p class="text-lg mb-2">{title}</p>
  <p class="text-sm">{description}</p>
</Wrapper>
