---
const { day, posts } = Astro.props;
---

<div>
  <ul>
    {
      posts.map((post) => {
        return (
          <li>
            <a class="underline" href={`/blog/${post.slug}`}>
              {post.data.title}
            </a>
            <span> ~ </span>
            <time datetime={String(post.data.date)}>
              {post.data.date?.toLocaleDateString()}
            </time>
          </li>
        );
      })
    }
  </ul>
</div>
