---
const date = new Date().getFullYear();
import SocialLinks from "./SocialLinks.astro";
import data from "../data/site.json";
---

<footer class="flex flex-row justify-between">
  <div>© {date} ~ {data.name.toLocaleLowerCase()} ~ {data.pronouns}</div>
  <SocialLinks />
</footer>
