---
import DaySection from "./DaySection.astro";
const { month, days } = Astro.props;
const sortedDays = Object.keys(days).sort(function (a: any, b: any) {
  return b - a;
});
---

<div class="md:ml-8 mb-4 flex flex-col">
  <h4 class="text-lg font-bold my-2">{month}</h4>
  <div class="flex flex-col">
    {
      sortedDays.map((day) => {
        return <DaySection day={day} posts={days[day]} />;
      })
    }
  </div>
</div>
