---
---

<nav>
  <ul class="flex flex-row">
    <li class="mx-1"><a href="/about">about</a></li>
    <li class="mx-1"><a href="/blog">blog</a></li>
    <li class="mx-1"><a href="/work">work</a></li>
  </ul>
</nav>
