---
import phrases from "../data/phrases.json";
---

<div class="text-sm mv-4 text-center outline-dashed outline-1 p-4">
    <p>{phrases.homepage.message}</p>
    <a class="font-bold underline" href={phrases.homepage.linkUrl}
        >{phrases.homepage.linkText}</a
    >
</div>
