---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const workEntries = await getCollection("work");
import WorkItem from "../../components/WorkItem.astro";
---

<BaseLayout pageTitle="projects">
  <h2 class="text-2xl font-bold mb-6">my work</h2>
  {
    workEntries.map((entry) => {
      return <WorkItem entry={entry} />;
    })
  }
</BaseLayout>
