<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Garrett Welson's Blog">
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://welson.net/">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{{ previewImage or metadata.previewImage }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://welson.net/">
    <meta property="twitter:title" content="{{ title or metadata.title }}">
    <meta property="twitter:description" content="{{ description or metadata.description }}">
    <meta property="twitter:image" content="https://welson.net/img/memoji.png">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <h1 class="home">
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        </h1>
        <em class="pronouns">
          <a href="http://pronoun.is/he" target="_blank">he/him/his</a>
        </em>
      </section>
      <section class="navbar-section">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      <section>
    </header>

    <main
      class="
      {% if templateClass %} {{ templateClass }}"{% endif %}
      "
    >

      {{ content | safe }}
    </main>

    <footer>
      {# <section class="navbar-section"> #}
        <p>Made with 💜 by Garrett Welson. Copyright {% year %} <p>
        <p>Written in Sunnyvale, CA, which is on the unceded lands of the <a href="http://www.muwekma.org" target="_blank">Mukwema Ohlone tribe</a></p>
      {# </section> #}
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
