---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";
import "../styles/main.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={pageTitle} />
  </head>
  <body>
    <!-- This wrapping <div> effectively pins the footer to the bottom -->
    <div class="flex flex-col h-screen justify-between">
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
